.bruno-ace-sc-regular {
  font-family: "Bruno Ace SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
    margin: 0px;
}

html {
  margin: 0px;
}

.mainContentBox {
  height: 100dvh;
  width: 100dvw;
  margin: 0px;
  align-content: center;
  text-align: center;
  justify-content: center;
  background-color: rgb(97, 186, 218);
  /*background-image: linear-gradient(to right, rgb(97, 186, 218), rgb(93, 238, 132));*/
  border-width: 0px;
  animation-name: bgAnimation;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

#mainTimeTxt {
  font-family: "Bruno Ace SC", sans-serif;
  font-size: 4rem;
  color: white;
}

#secondaryTimeInfo {
  font-family: "Bruno Ace SC", sans-serif;
  font-size: 3rem;
  color: rgb(249, 238, 238);
}

#timeInfo3 {
  font-family: "Bruno Ace SC", sans-serif;
  font-size: 3rem;
  color: rgb(249, 238, 238);
}

@keyframes bgAnimation {
  0% {background-color: rgb(97, 186, 218);};
  25% {background-color: rgb(93, 238, 132);};
  50% {background-color: rgb(207, 96, 244);};
  75% {background-color: rgb(60, 51, 233);};
  100% {background-color: rgb(97, 186, 218);};
}

/*
@keyframes bgAnimation {
  0% {background-image: linear-gradient(to right, rgb(97, 186, 218), rgb(93, 238, 132));}
  25% {background-image: linear-gradient(to right, rgb(93, 238, 132), rgb(207, 96, 244));}
  50% {background-image: linear-gradient(to right, rgb(244, 175, 96), rgb(60, 51, 233));}
  75% {background-image: linear-gradient(to right, rgb(60, 51, 233), rgb(97, 186, 218));}
}
*/
